In [42]:
import pandas as pd
import numpy as np

# Dataframe Unemployment Rate

In [43]:
df1 = pd.read_csv('unemployment analysis.csv' , sep=",")
df1

,Country Name,Country Code,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,7.80,7.84,7.85,7.84,7.83,7.84,7.86,7.81,...,6.56,6.45,6.41,6.49,6.61,6.71,6.73,6.91,7.56,8.11
1,Afghanistan,AFG,10.65,10.82,10.72,10.73,11.18,10.96,10.78,10.80,...,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
2,Africa Western and Central,AFW,4.42,4.53,4.55,4.54,4.53,4.57,4.60,4.66,...,4.64,4.41,4.69,4.63,5.57,6.02,6.04,6.06,6.77,6.84
3,Angola,AGO,4.21,4.21,4.23,4.16,4.11,4.10,4.09,4.07,...,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
4,Albania,ALB,10.31,30.01,25.26,20.84,14.61,13.93,16.88,20.05,...,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Samoa,WSM,2.10,2.38,2.63,3.04,3.19,3.47,3.90,4.18,...,8.75,8.67,8.72,8.50,8.31,8.58,8.69,8.41,9.15,9.84
231,"Yemen, Rep.",YEM,8.32,8.31,8.35,8.34,8.96,9.59,10.20,10.81,...,13.17,13.27,13.47,13.77,13.43,13.30,13.15,13.06,13.39,13.57
232,South Africa,ZAF,29.95,29.98,29.92,29.89,29.89,29.87,29.91,29.95,...,24.73,24.56,24.89,25.15,26.54,27.04,26.91,28.47,29.22,33.56
233,Zambia,ZMB,18.90,19.37,19.70,18.43,16.81,15.30,13.64,12.00,...,7.85,8.61,9.36,10.13,10.87,11.63,12.01,12.52,12.85,13.03
234,Zimbabwe,ZWE,4.94,4.99,4.97,4.96,5.63,6.25,6.93,6.46,...,5.15,4.98,4.77,4.78,4.79,4.78,4.80,4.83,5.35,5.17

In [44]:
dfnew = pd.DataFrame()
for y in df1.columns[ 2: ]:
    dftemp = df1.loc[ : , ["Country Name","Country Code",y] ]
    dftemp["Year"] = y
    dftemp.columns = ['Country Name', 'Country Code', 'Value', 'Year']
    dftemp = dftemp.loc[ : , ['Country Name', 'Country Code', 'Year', 'Value'] ]
    
    dfnew = pd.concat([dfnew, dftemp])

dfnew

                    Country Name Country Code  Year  Value
0    Africa Eastern and Southern          AFE  1991   7.80
1                    Afghanistan          AFG  1991  10.65
2     Africa Western and Central          AFW  1991   4.42
3                         Angola          AGO  1991   4.21
4                        Albania          ALB  1991  10.31
..                           ...          ...   ...    ...
230                        Samoa          WSM  2021   9.84
231                  Yemen, Rep.          YEM  2021  13.57
232                 South Africa          ZAF  2021  33.56
233                       Zambia          ZMB  2021  13.03
234                     Zimbabwe          ZWE  2021   5.17

[7285 rows x 4 columns]

# Dataframe Currency and Income Information

In [45]:
df2 = pd.read_csv('Country.csv' , sep=",")
df2

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2013.0,2000.0
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011.0,2013.0,2006.0
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,NaN,Middle East & North Africa,Upper middle income,DZ,...,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",NaN,NaN,2010.0,2013.0,2001.0
3,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,NaN,East Asia & Pacific,Upper middle income,AS,...,NaN,NaN,2010,NaN,NaN,Yes,2007,NaN,NaN,NaN
4,ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,NaN,2011. Population data compiled from administra...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,WBG,West Bank and Gaza,West Bank and Gaza,West Bank and Gaza,PS,Israeli new shekel,The new base year is 2004.,Middle East & North Africa,Lower middle income,GZ,...,Budgetary central government,Special Data Dissemination Standard (SDDS),2007,"Multiple Indicator Cluster Survey (MICS), 2014","Integrated household survey (IHS), 2011",NaN,NaN,2010.0,NaN,2005.0
243,WLD,World,World,World,1W,NaN,World aggregate.,NaN,NaN,1W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,Based on official government statistics and In...,Middle East & North Africa,Lower middle income,RY,...,Budgetary central government,General Data Dissemination System (GDDS),2004,"Demographic and Health Survey (DHS), 2013","Expenditure survey/budget survey (ES/BS), 2005",NaN,NaN,2009.0,2013.0,2005.0
245,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,The new base year is 2010. National accounts d...,Sub-Saharan Africa,Lower middle income,ZM,...,Budgetary central government,General Data Dissemination System (GDDS),2010,"Demographic and Health Survey (DHS), 2013/14","Integrated household survey (IHS), 2010",NaN,2010. Population and Housing Census.,NaN,2013.0,2002.0
246,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,U.S. dollar,Fiscal year end: June 30; reporting period for...,Sub-Saharan Africa,Low income,ZW,...,Consolidated central government,General Data Dissemination System (GDDS),2012,"Multiple Indicator Cluster Survey (MICS), 2014","Integrated household survey (IHS), 2011/12",NaN,NaN,NaN,2013.0,2002.0

## Obtenemos las columnas que necesitamos y su codigo de pais para hacer el Merge

In [46]:
df2temp=df2.loc[ : , ['CountryCode','CurrencyUnit', 'Region', 'IncomeGroup'] ]

In [47]:
df2temp.columns= ['Country Code','CurrencyUnit', 'SubRegion', 'IncomeGroup']

In [48]:
df2temp

,Country Code,CurrencyUnit,SubRegion,IncomeGroup
0,AFG,Afghan afghani,South Asia,Low income
1,ALB,Albanian lek,Europe & Central Asia,Upper middle income
2,DZA,Algerian dinar,Middle East & North Africa,Upper middle income
3,ASM,U.S. dollar,East Asia & Pacific,Upper middle income
4,ADO,Euro,Europe & Central Asia,High income: nonOECD
...,...,...,...,...
242,WBG,Israeli new shekel,Middle East & North Africa,Lower middle income
243,WLD,NaN,NaN,NaN
244,YEM,Yemeni rial,Middle East & North Africa,Lower middle income
245,ZMB,New Zambian kwacha,Sub-Saharan Africa,Lower middle income
246,ZWE,U.S. dollar,Sub-Saharan Africa,Low income

# Dataframe Continents

In [49]:
df3 = pd.read_csv('continents2.csv' , sep=",")
df3

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0

## Obtenemos las columnas que necesitamos y su codigo de pais para hacer el Merge

In [50]:
df3temp=df3.loc[ : , [ 'alpha-3', 'region'] ]

In [51]:
df3temp.columns= ['Country Code', 'Continent']

In [52]:
df3temp

    Country Code Continent
0            AFG      Asia
1            ALA    Europe
2            ALB    Europe
3            DZA    Africa
4            ASM   Oceania
..           ...       ...
244          WLF   Oceania
245          ESH    Africa
246          YEM      Asia
247          ZMB    Africa
248          ZWE    Africa

[249 rows x 2 columns]

# Nuevo Dataframe (Merge df1 y df2)

## Se realizara un merge para unir los dataframes de unemployment rate y currency and income information

In [53]:
df_new=dfnew.merge(df2temp,how='left', on='Country Code')
df_new.columns= ['Country Name', 'Country Code', 'Year', 'Value', 'CurrencyUnit', 'SubRegion', 'IncomeGroup']
df_new

,Country Name,Country Code,Year,Value,CurrencyUnit,SubRegion,IncomeGroup
0,Africa Eastern and Southern,AFE,1991,7.80,NaN,NaN,NaN
1,Afghanistan,AFG,1991,10.65,Afghan afghani,South Asia,Low income
2,Africa Western and Central,AFW,1991,4.42,NaN,NaN,NaN
3,Angola,AGO,1991,4.21,Angolan kwanza,Sub-Saharan Africa,Upper middle income
4,Albania,ALB,1991,10.31,Albanian lek,Europe & Central Asia,Upper middle income
...,...,...,...,...,...,...,...
7280,Samoa,WSM,2021,9.84,Samoan tala,East Asia & Pacific,Lower middle income
7281,"Yemen, Rep.",YEM,2021,13.57,Yemeni rial,Middle East & North Africa,Lower middle income
7282,South Africa,ZAF,2021,33.56,South African rand,Sub-Saharan Africa,Upper middle income
7283,Zambia,ZMB,2021,13.03,New Zambian kwacha,Sub-Saharan Africa,Lower middle income
7284,Zimbabwe,ZWE,2021,5.17,U.S. dollar,Sub-Saharan Africa,Low income

# Dataframe final (Merge dfnew y df3)

## Se realizara un merge entre el dataframe anterior(dfnew) y el dataframe continents para añadir la informacion de los continetes

In [54]:
df_1new=df_new.merge(df3temp,how='left', on='Country Code')
df_1new.loc[ : , ['Country Name', 'Country Code','Continent','SubRegion', 'Year', 'Value' ,'CurrencyUnit', 'IncomeGroup']]

,Country Name,Country Code,Continent,SubRegion,Year,Value,CurrencyUnit,IncomeGroup
0,Africa Eastern and Southern,AFE,NaN,NaN,1991,7.80,NaN,NaN
1,Afghanistan,AFG,Asia,South Asia,1991,10.65,Afghan afghani,Low income
2,Africa Western and Central,AFW,NaN,NaN,1991,4.42,NaN,NaN
3,Angola,AGO,Africa,Sub-Saharan Africa,1991,4.21,Angolan kwanza,Upper middle income
4,Albania,ALB,Europe,Europe & Central Asia,1991,10.31,Albanian lek,Upper middle income
...,...,...,...,...,...,...,...,...
7280,Samoa,WSM,Oceania,East Asia & Pacific,2021,9.84,Samoan tala,Lower middle income
7281,"Yemen, Rep.",YEM,Asia,Middle East & North Africa,2021,13.57,Yemeni rial,Lower middle income
7282,South Africa,ZAF,Africa,Sub-Saharan Africa,2021,33.56,South African rand,Upper middle income
7283,Zambia,ZMB,Africa,Sub-Saharan Africa,2021,13.03,New Zambian kwacha,Lower middle income
7284,Zimbabwe,ZWE,Africa,Sub-Saharan Africa,2021,5.17,U.S. dollar,Low income